header {
    transition: all 0.4s ease-in-out !important;

}

.dark {
    header {
        background-color: #1F2E35;
        ;
        color: white;

        * {
            color: inherit !important;
        }

        .header__btn-1 {
            background-color: #1F2E35 !important;
            border: 1px solid white !important;
        }
    }

    main {
        background-color: #1F2E35;

        .at {
            .at__header {
                color: #ffff !important;

            }

            .at__text {
                color: #ffff !important;
            }
        }

        .for {


            background-image: url(../img/bg-dark-1.png) !important;


            .for_header {
                color: #fff !important;

            }

            .for__list-header {
                color: #fff !important;

            }

            .for__item-text {
                color: #ffff !important;

            }
        }
        .man {
            .man__top_left-text{
                color: #fff !important;
            } 

            .man__top_left_header{
                color: #fff !important;
            }

            .man__center_left_header{
                color: #fff !important;
            }
            .man__top_left-header-2{
                 color: #fff !important;
            }
        
            .man__top_left-text-2{
                 color: #fff !important;
            }
            .man_center_text{
                 color: #fff !important;
            }
            
            .man__bottom_left_header{
                color: #fff !important;
            }
        }
        .can{
            background-image: url(../img/bg-dark-2.png);
            .can__header{
                 color: #fff !important;
            }
            .can__text{
                color: #fff !important;
            }
        }
        .con{
            .con__header{
                 color: #fff !important;
            }
            .con__text{
                color: #fff !important;
            }
        }
        .we{
            .we__header{
                 color: #fff !important;
            }
            .we__text{
                 color: #fff !important;
            }
        }
        .footer{
            background-color: #1F2E35 !important;              
        }
        .footer__left_img-11{
            display: none !important;
        }
        .footer__left_img-11-2{
            display: block !important;
        }
        
    }

}