header {
    transition: all 0.4s ease-in-out !important;

}

.dark {
    header {
        background-color: #1F2E35;
        ;
        color: white;

        * {
            color: inherit !important;
        }

        .header__btn-1 {
            background-color: #1F2E35 !important;
            border: 1px solid white !important;
        }
    }

    main {
        background-color: #1F2E35;

        .at {
            .at__header {
                color: #ffff !important;

            }

            .at__text {
                color: #ffff !important;
            }
        }

        .for {


            background-image: url(../img/bg-dark-1.png) !important;


            .for_header {
                color: #fff !important;

            }

            .for .for__list-header {
                color: #fff !important;

            }

            .for .for__item-text {
                color: #fff !important;

            }
        }
    }

}